body {
    background-color: black;
    font-size: center;
    
    text-align: center;
    margin:150px auto;
    color: aliceblue;
    max-width: 500px;
    border: 2px solid;
    padding: 2rem;
    border-radius: 10px;
}


 div {
    color:aliceblue
 }

 button {
    height: 2.3em;
    width: 5.5em;
    border: none;
    color: black;
    cursor: pointer;
    border-radius: 3px;
 }
